* {
    box-sizing: border-box;
}

body {
    font-family: 'Tapestry', cursive;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}